@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mystery+Quest&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mystery-quest {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar-nav .nav-link {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 12px;
    padding: 8px 12px;
  }

  .navbar-nav .nav-link:hover {
    color: #0d6efd !important;
    background-color: #f8f9fa;
  }

  
.btn-desfazer .texto-hover {
    display: none;
}
.btn-desfazer:hover .texto-normal {
    display: none;
}
.btn-desfazer:hover .texto-hover {
    display: inline;
}

.btn-desfazer-rh .texto-hover {
    display: none;
}
.btn-desfazer-rh:hover .texto-normal {
    display: none;
}
.btn-desfazer-rh:hover .texto-hover {
    display: inline;
}